* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  color: #fff7e6;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('a.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 59px;
  background-image: url('a.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  border-bottom: 3px solid #e0661f;
}

.logo-container {
  position: fixed;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  animation: slideDown 1s ease-out;
}

@keyframes slideDown {
  from {
      top: -100px;
  }
  to {
      top: 7px;
  }
}

.logo-img {
  width: 80px;
  height: auto;
}

.about, .best, .products, .contact, .footer{
  opacity: 0;
  animation: aopen 1.5s forwards;
}

@keyframes aopen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.products{
  padding: 120px 20px 60px;
  text-align: center;
  z-index: 1;
  position: relative;
}

.hero {
  background: linear-gradient(to right, rgba(224, 102, 31, 0.4), transparent) no-repeat center center/cover;
  padding: 100px 50px;
  color: #fff7e6;
  position: relative;
}

.hero .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 3.5rem;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 500px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 30px;
}

.hero-text .buttons {
  display: flex;
  gap: 15px;
}

.hero-text .buttons button {
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
}

.menu-btn, .book-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e0661f;
  color: #fff7e6;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  transition: background-color 0.3s;
}

.menu-btn:hover, .book-btn:hover {
  background-color: darkorange;
}

.hero-image img {
  width: 320px;
  height: 320px;
  object-fit: cover;
}

.products {
  padding: 40px 0;
  background-color: transparent;
  background-position: center;
  text-align: center;
}

.product-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1000px;
  margin: auto;
}

.atas {
  margin-bottom: 60px;
}

.card {
  text-align: center;
  box-sizing: border-box;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.product-info {
  background-color: rgba(255, 247, 230, 0.8);
  padding: 10px;
  margin-top: 10px;
}

.product-info h2 {
  font-size: 14px;
  color: #1f3a1d;
  margin: 0;
}

.product-info p {
  font-size: 13px;
  color: #1f3a1d;
  margin: 5px 0 0;
}

.price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #1f3a1d;
}

.add-btn {
  background: #e0661f;
  border: none;
  color: #fff7e6;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.add-btn:hover {
  background: darkorange;
}

.outborder {
  width: 260px;
  border: 8px solid rgba(255, 247, 230, 0.8);
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.outborder:hover{
  transform: scale(1.1);
}

.inborder {
  border: 5px solid rgba(224, 102, 31, 0.8);
  box-sizing: border-box;
}

.hero-contact {
  background: linear-gradient(to left, rgba(224, 102, 31, 0.4), transparent) no-repeat center center/cover;
  padding: 100px 50px;
  color: #fff7e6;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
}

.content-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap;
}

.hero-contact .hero-text{
  text-align: right;
}

.hero-contact .hero-text p{
  margin-left: auto;
}

.footer {
  padding: 15px 0;
  text-align: center;
  background: #e0661f;
}

.social-icons a i{
  align-items: center;
  width: 20px;
  margin: 0 10px;
  color: #fff7e6;
  transition: transform 0.3s ease;
  scale: 1.5;
}

.social-icons a i:hover{
  transform: scale(1.2);
}

.menu {
  position: fixed;
  top: 20px;
  right: 20px;
  opacity: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 5;
}

.garis3 {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 32px;
  color: #fff7e6;
  background: rgba(210,102,38, 0.65);
  padding: 5px 15px 10px 15px;
  cursor: pointer;
  z-index: 4;
}

.side-nav {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: rgba(210,102,38, 0.95);
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 0.5s ease;
  z-index: 3;
}

.side-nav a {
  color: #fff7e6;
  text-decoration: none;
  font-size: 20px;
  margin: 15px 0;
  background-color: rgba(210, 102, 38, 0.95);
  padding: 10px 20px;
  width: 200px;
  text-align: center;
}

.side-nav a:hover {
  background-color: #e0661f;
}

#menu:checked ~ .side-nav {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(210,102,38, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease;
  z-index: 2;
}

#menu:checked ~ .overlay {
  opacity: 1;
  pointer-events: auto;
}
